.header-first{
    display: flex;
    flex-direction: row;
}
.header-second{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}
.home,.works,.services{
    padding-left: 20px;
}

.form-wrapper{
    background-color: aquamarine;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border-radius:5rem;
    width: 40%;
    
}
.header-form{
    display: flex;
    flex-direction: row;
}