/* CSS for button*/
.button{
    background-color: rgba(32, 64, 245, 0.822)!important; 
    border-radius: 10rem;
    padding:11px 40px 11px 40px;   
}
.button>text{
    color: white;
}
/*InputText */ 
.text-input{
    width: 14rem;
    padding: 0.8rem;
    border: none;
    font-size: medium;
}
/*card*/
.card-container{
    margin-top: 5rem;
    padding: 4rem;
    border-radius: 1rem;
    width: 70%;
    background-color: blue;
    display: flex;
    flex-direction: row;
}
.icon-one{

}